@charset "UTF-8";

/* Q&A_공통 */							/* Q&A_공통 */

button {
	cursor: pointer;
}

input[type="submit"] {
	cursor: pointer;
}
input[type="button"] {
	cursor: pointer;
}
input[type="reset"] {
	border: 2px solid #4F1271;
	background-color:white;
	color:#4F1271;
	cursor: pointer;
}
a {
	text-decoration: none;
	color: black;
}

a:hover {
	font-size: 1.003em;
	font-weight: 540;
}

.titletbl{border:0;
margin-left:30%;
width:500px;
text-align:center;}

.qna_main_td{
	text-align:left;
}
/* .scrollbar {  */
/*   width: 250px; */
/*   height: 250px; */
/*   overflow-y: scroll;  */
/* } */

/* /* 스크롤바의 폭 너비 */ */
/* .scrollbar::-webkit-scrollbar { */
/*     width: 10px;   */
/* } */

/* .scrollbar::-webkit-scrollbar-thumb { */
/*     background: rgba(220, 20, 60); 스크롤바 색상 */
/*     border-radius: 10px; 스크롤바 둥근 테두리 */
/* } */

/* .scrollbar::-webkit-scrollbar-track { */
/*     background: rgba(220, 20, 60, .1);  스크롤바 뒷 배경 색상 */
/* } */

.qna_main_title{
	margin-left:30%;
	margin-top:30px;
	
}

.qna_sub_title {
	margin-left: 46%;
	color: #778;
	font-weight: 400;
	font-size:1.5em;
}




/* Q&A_Regist */						/* Q&A_Regist */
.qna_regist_all{
	margin-top:-3%;
}

.qna_input {
	margin-left: 33%;
	margin-top: 3%;
	
}

.qna_input_table td:first-child {
	text-align: right;
	padding: 20px;
	font-size: 0.9em;
}


.qna_input_table input, textarea {
	border-radius: 4px;
	border: 1px solid #778;
	padding: 4px;
}

.qna_content_area td:first-child {
	vertical-align: top;
}


.btn_qna_submit {
	margin: 4% 0px 5% 200px;
}

.btn_qna_submit .qna_submit_btn {
	padding: 10px;
	background-color: #4F1271;
	color: white;
	letter-spacing: 1px;
	border-radius: 4px;
	border:0;
	margin-left:50px;
}

.btn_qna_submit .qna_reset_btn {
	padding: 10px;
	background-color: white;
	color: #4F1271;
	border:2px solid #4F1271;
	letter-spacing: 1px;
	border-radius: 4px;
}


/* Q&A_Detail */						/* Q&A_Detail */
.qna_detail_all{
	margin-top:-3%;
}

.qna_detail .qna_detail_table{
	margin-left:32%;
	width:600px;
}

.qna_detail_table th{
	text-align:right;
	font-weight:500;
	padding-top:20px;
	width:100px;
}


.qna_detail_table th, td{
	border-bottom:1px solid #D9D9D9;
}

.qna_detail_table td{
	text-align:left;
	font-weight:300;
	padding-top:20px;
	padding-left:30px;
}

.qna_detail_table .qna_detail_last_td{
	height:300px;
	vertical-align:top;
}
.admin_detail_td{
	overflow-y: scroll;
}

.detail_btn{
	margin-left:42%;
	margin-top:20px;
	margin-bottom:50px;
}
.detail_btn button{
	margin:10px;
	padding:12px 10px;
	border-radius:4px;
}

.detail_btn .list_btn{
	border: 2px solid #4F1271;
	background-color:white;
	color:#4F1271;
}

.detail_btn .del_btn{
	border: 2px solid #4F1271;
	background-color:#4F1271;
	color:white;
}
.modify_btn{
	background-color:white;
	border: 2px solid #4F1271;
	color:#4F1271;
}

/* Q&A modify */
.qna_modify_all{
	margin-top:-3%;
}
										
.qna_modify_table th{
	text-align:right;
	font-weight:500;
	padding-top:20px;
	width:100px;
}


.qna_modify_table th, td{
	border-bottom:1px solid #D9D9D9;
}

.qna_modify_table td{
	text-align:left;
	font-weight:300;
	padding-top:20px;
	padding-left:30px;
}


.btn_qna_submit .reset_btn,.modify_btn{
	padding: 10px;
	letter-spacing: 1px;
	border-radius: 4px;
}



.btn_qna_submit .reset_btn{
	border: 2px solid #4F1271;
	background-color:#4F1271;
	color:white;

}


.btn_qna_submit .modify_btn{
	padding: 10px;
	letter-spacing: 1px;
	border-radius: 4px;
}







/* Q&A_List */								/* Q&A_List */         								
.qna_list_all{
	margin-top:-3%;
}

.list_btn_tr td{
	border:0;
	text-align:right;
	padding-bottom: 30px
}


.list_reg_btn {
	margin-left: 63%;
	padding: 5px 10px;
	border:0;
	border-radius: 4px;
	background-color: #4F1271;
	color: white;
	margin-bottom: 10px;
}

.myTotal{
	width:100px;
	margin-left:55%;
	font-size:0.9em;
	margin-bottom:10px;
}


.qna_list_table {
	width: 800px;
	margin-left: 30%;
	margin-bottom: 30px;
	border-top: 1px solid #444444;
	border-collapse: collapse;
}

.qna_list_table th {
	padding: 10px 0px;
	border-bottom: 1px solid #444444;
	text-align:center;
}

 .qna_list_table th, td{
    border-left: none;
  }
.qna_list_table .list_first_th{
	width: 50px;
}



.qna_list_table .list_second_th{
	width: 500px;
}

.qna_list_table  td {
	padding: 6px 0px;
	text-align: center;
	font-size: 0.9em;
	border-bottom: 1px solid #444444;
}

.qna_list_table .list_third_td, .list_fourth_td {
	font-size: 0.8em;
}
.qna_list_table .list_fourth_td {
	font-size: 0.7em;
}

.qna_pgn>td{
	margin-top:5px;
	border:0;
}

.nullmsg
{font-size:1.3em;
font-weight:300;
text-align:center;
margin:60px 0 40px 30px;
border-bottom:0;}

.empty_reg_btn{
	margin-top:8px;
	background-color:#4F1271;
	color:white;
	border:0;
	border-radius:3px;
	padding: 8px 6px;
	margin-bottom:20px;
}

.nullmsg .list_fifth_td{
	border-bottom:0;
}



